.titulo {
    color: darkblue;
    font-weight: 500;
    line-height: 1.5rem;
}

form {
    border: 0.5px solid gray;
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem; /* reemplaza los espacios en blano */
}

.campo_correo,
.campo_contrasenia {
    background-color: #fff;
    color: black;
    width: 400px;
    height: 30px;
    border: 0.0625rem solid #999999;
    padding: 5px;
}

.boton {
    border-radius: 100px;
    padding: 0.75rem 2rem;
    height: 48px;
    background-color: #0551b5;
    border: none;
    color: #fff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
